@import url(https://fonts.googleapis.com/css?family=VT323);

$a: 40rem;
$aSmall: 30rem;

body {

}


$sm: "screen and (max-width: 700px)";
$lg: "screen and (min-width: 1600px) and (min-height: 1280px)";
$simonSize: 80vmin;

.simon{
	// position: absolute;
	// height: $a;
	// width: $a;
	// top: 50%;
	// left:50%;
	// margin-top: -($a/2);
	// margin-left: -($a/2);
	position: absolute;
	height: $simonSize;
	width: $simonSize;
	top: 50%;
	left:50%;
	margin-top: -($simonSize/2);
	margin-left: -($simonSize/2);
	transition: all ease .5s;
	// border: 1em solid $border;
	border-radius: 50%;
	// @media #{$sm} {
	// 	height: $aSmall;
	// 	width: $aSmall;
	// 	margin-top: -($aSmall/2);
	// 	margin-left: -($aSmall/2);
	// }
}

.main-heading {
	display: none;
	text-align: center;
	font-size: 3em;
	@media #{$sm} and (orientation: portrait) {
		display: block;
	}
}
$border: #2c3e50;
.simon__panel {
	position: absolute;
	// display: table;
	border-radius: 50%;
	height: 50%;
	width: 50%;
	top: 50%;
	left:50%;
	margin-top: -25%;
	background-color: #ecf0f1;
	border: 2vmin solid $border;
	z-index: 1;
	margin-left: -25%;
	text-align: center;
	overflow: hidden;
	// padding: .3em;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.wrap {
	border: .5vmin solid #ecf0f1;
	border-radius: 50%;
	position: absolute;
	height: 100%;
	overflow: hidden;
	width: 100%;

}

.top-wrap{
	background-color: $border;
	height: 30%;
	padding-top: 1.3em;
		@media #{$sm}{
			padding-top: .7em;
		}
}

.simon__panel__brand{
font-family: 'Oswald', sans-serif;
margin: 0;
	color: white;
 	@media #{$sm}{
 			font-size: 1em;
 	}

 	@media #{$lg} {
 		font-size: 5em;
 		
 	}
}

.simon__panel__screen{
 background-color: #790000;
border-radius: 10%;
    width: 40%;
    height: 20%;
 //    position: absolute;
 //    top: 50%;
 //    left: 50%;
 // margin-left: -20%;
 // margin-top: -10%;
    margin-top: 10%;
 margin-left: auto;
 margin-right: auto;
}

span.small{
	color: #fff;	
	font-size: 50%;
	// font-weight: 800;
}

.simon__panel__control{
	margin: 0 auto;
}

.btn {
	display: inline;
}

$shadowInsetColor: #aaa;
.green {
	background-color: #2ecc71;
	transition: all ease .5s;
	box-shadow: inset 1px 1px 100px 1em rgba($shadowInsetColor, 0.5);
	&:hover {
background-color: darken(#2ecc71,15%);
	}
}
.red
{
	background-color: #e74c3c;
	transition: all ease .5s;
	box-shadow: inset 1px 1px 100px 1em rgba($shadowInsetColor, 0.5);
	&:hover {
background-color: darken(#e74c3c,15%);
	}
}
.yellow
{
	background-color: #f1c40f;
	transition: all ease .5s;
	box-shadow: inset 1px 1px 100px 1em rgba($shadowInsetColor, 0.5);
	&:hover {
background-color: darken(#f1c40f,15%);
	}
}
.blue
{
	background-color: #4aa3df;
	transition: all ease .5s;
	box-shadow: inset 1px 1px 100px 1em rgba($shadowInsetColor, 0.5);
	&:hover {
background-color: darken(#4aa3df,15%);
	}
}


.space {
	cursor: pointer;
	height: 50%;
	width: 50%;
	border: 1vmin $border solid;
	float: left;

}

.simon__t-l
{
	border-top-left-radius: 100%;

}
.simon__t-r
{
	border-top-right-radius: 100%;

}
.simon__b-l
{
	border-bottom-left-radius: 100%;

}
.simon__b-r
{
	border-bottom-right-radius: 100%;

}


.simon__panel {

}

